body{
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  padding: 0;
  margin: 0;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 10;
  top: 0;
}

nav ul{
  flex-wrap: wrap;
  min-width: 180px;
  margin-right: 10px;
}

nav li{
  display: inline-block;
  margin: 0 10px;
}

nav a{
  text-decoration: underline;
  color: seashell;
}

#logopic{
  flex-shrink: 0;
  height: 50px;
  margin-left: 10px;
}

/* CONTENT */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}

.section{
  padding-top: 70px;
  padding-bottom: 50px;
}

h2, h4{
  padding: 5px;
  margin: 5px;
}

/* MISSION */
#mission {
  display: flex;
  align-items: center;
  background-image: url(../images/img-mission-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
}

#mission .content{
  text-align: center;
  background-color: black;
  width: 100%;
}

/* FEATURED TEA */
#featured{
  width: 1020px;
  text-align: center;
}

.teas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tea img{
  height: 200px;
  width: 300px;
  margin: 10px;
}

.tea h4{
  text-align: center;
  padding: 0px;
}

/* LOCATIONS */
